@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html.light {
    color-scheme: light;
  }
  html.dark {
    color-scheme: dark;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground transition-colors;
  }
}

@layer base {
  :root {
    --background: 28 100% 97%;
    --foreground: 40 4% 14%;

    --card: 28 100% 97%;
    --card-foreground: 40 4% 14%;

    --popover: 28 100% 97%;
    --popover-foreground: 40 4% 14%;

    --primary: 40 4% 14%;
    --primary-foreground: 28 100% 97%;

    --secondary: 47 25% 89%;
    --secondary-foreground: 40 4% 14%;

    --muted: 40 4% 14%;
    --muted-foreground: 28 100% 97%;

    --accent: 47 25% 89%;
    --accent-foreground: 40 4% 14%;

    --destructive: 4 77% 36%;
    --destructive-foreground: 28 100% 97%;

    --border: 40 4% 14%;
    --input: 204 2% 43%;
    --ring: 40 4% 14%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 40 4% 14%;
    --foreground: 28 100% 97%;

    --card: 40 4% 14%;
    --card-foreground: 28 100% 97%;

    --popover: 40 4% 14%;
    --popover-foreground: 28 100% 97%;

    --primary: 28 100% 97%;
    --primary-foreground: 40 4% 14%;

    --secondary: 47 25% 89%;
    --secondary-foreground: 40 4% 14%;

    --muted: 28 100% 97%;
    --muted-foreground: 40 4% 14%;

    --accent: 47 25% 89%;
    --accent-foreground: 40 4% 14%;

    --destructive: 4 77% 36%;
    --destructive-foreground: 28 100% 97%;

    --border: 28 100% 97%;
    --input: 236 9% 69%;
    --ring: 28 100% 97%;
  }

  html,
  body,
  #root {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }
}
