---
import Page from "@/layouts/page.astro";
---

<Page title="Audi P.M">
  <div class="w-full px-8 lg:px-44">
    <section
      class="min-h-[calc(100vh-22vh)] flex flex-col justify-start sm:justify-center py-0"
    >
      <h1 class="text-m sm:text-2xl font-normal mb-4">Hi, my name is</h1>
      <h1 class="text-5xl sm:text-6xl font-black mb-3">AUDI PUTERA MULIA</h1>
      <h1 class="text-lg sm:text-3xl font-bold mb-3">
        WELCOME TO MY PERSONAL WEBSITE
      </h1>
      <h1 class="text-m sm:text-2xl font-medium sm:w-2/3">
        I'm a web developer that enjoys creating things that live on the
        internet.
      </h1>
    </section>
  </div>
</Page>
